In [4]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sqlalchemy import create_engine

USERNAME = "postgres"
PASSWORD = "mlecourse"
HOST = "34.64.174.26"
PORT = "5432"  # Default port for PostgreSQL
DATABASE = "raw"
ENGINE_PATH = f"postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
engine = create_engine(ENGINE_PATH)

query = "SELECT date, temp, mm, ws, humidity FROM data.temperature"
data = pd.read_sql(query, engine)

In [5]:
data

                   date  temp  mm   ws  humidity
0      2022-01-01 00:00  -8.5 NaN  1.9        41
1      2022-01-01 01:00  -9.2 NaN  1.8        42
2      2022-01-01 02:00  -9.5 NaN  1.2        43
3      2022-01-01 03:00  -9.3 NaN  1.4        46
4      2022-01-01 04:00  -9.6 NaN  1.7        48
...                 ...   ...  ..  ...       ...
17515  2023-12-31 19:00   2.6 NaN  0.8        90
17516  2023-12-31 20:00   1.9 NaN  2.2        94
17517  2023-12-31 21:00   1.7 NaN  2.4        96
17518  2023-12-31 22:00   1.3 NaN  0.6        95
17519  2023-12-31 23:00   0.9 NaN  0.8        96

[17520 rows x 5 columns]